# Backend
target/
build/
out/
bin/
*.class
*.jar
*.war

# Frontend
node_modules/
dist/
dist-ssr/
coverage/

# Logs
logs/
*.log

# Environment
.env
.env.*
*.local

# IDE
.idea/
*.iml

.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
*.tmp
*.swp